body {
    background-image: url("./image/จับภาพ.png");

        background-size: 20px; /* ปรับขนาดเพื่อให้พอดีกับขนาดของหน้าจอแต่ยังคงความสัดส่วนของภาพ */
        background-repeat: no-repeat;
        background-position: center center;
      }
      

  