@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    text-align: center;
    
}
button {
  margin-bottom: 13px;
  width: 98px;
  height: 30px;
}
div {
  color: rgb(255, 0, 0);

}
#btn-logout {
  background-color: #000000;
  color: #ffffff;
  padding: 13px 20px;
  border: none;
  border-radius: 0px;
  font-size: 11px;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
}




    
